<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%= pokemon ? pokemon.name + ' Details' : 'Pokemon Details' %></title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="/style.css" />
        <style>
            .carousel-item img {
                max-height: 10%;
                max-width: 30%;
                margin: auto;
            }
        </style>
    </head>
    <body>
        <%- include("./partials/navbar") %>
        <div class="container mt-4">
            <% if (error) { %>
            <div class="alert alert-danger" role="alert"><%= error %></div>
            <% } else if (pokemon) { %>
            <div class="card field" style="background-image: url('/img/bg.jpg'); background-size: cover; border: 1px solid #000000">
                <div class="card-header h1"><%= pokemon.name.toUpperCase() %></div>
                <div class="card-body">
                    <img src="<%= pokemon.imageUrl %>" class="img-fluid" alt="<%= pokemon.name %>" />
                    <p class="mt-3">
                        <strong> <% if (language === 'ru') { %> Описание: <% } else { %> Description: <% } %> </strong> <%=
                        pokemon.description %>
                    </p>
                    <% if (pokemon.evolutionChain) { %>
                    <div class="d-flex justify-content-center">
                        <p class="h2">
                            <strong> <% if (language === 'ru') { %> Цепь эволюции: <% } else { %> Evolution Chain: <% } %> </strong>
                        </p>
                    </div>

                    <div class="row g-4">
                        <% let groupIndex = 1; %> <% pokemon.evolutionChain.forEach(group => { %>
                        <div class="col" style="align-self: center">
                            <div class="card" style="border: 1px solid #000000">
                                <div class="card-body boba">
                                    <p class="card-text">
                                        <strong>
                                            <% if (language === 'ru') { %> Эволюция <%= groupIndex %>: <% } else { %> Evolution <%=
                                            groupIndex %>: <% } %>
                                        </strong>
                                    </p>
                                    <% group.forEach(evolution => { %>
                                    <a href="/pokemon/<%= evolution.name.toLowerCase() %>">
                                        <div class="evolution-card">
                                            <img src="<%= evolution.imageUrl %>" alt="<%= evolution.name %>" />
                                            <p><%= evolution.name %></p>
                                        </div>
                                    </a>
                                    <% }) %>
                                </div>
                            </div>
                        </div>
                        <% groupIndex++; %> <% }) %>
                    </div>
                    <% } else { %>
                    <div class="d-flex justify-content-center">
                        <p>
                            <strong> <% if (language === 'ru') { %> Цепь эволюции: <% } else { %> Evolution Chain: <% } %> </strong>
                            <% if (language === 'ru') { %> Не доступна <% } else { %> Not available <% } %>
                        </p>
                    </div>

                    <% }%>
                    <div class="d-flex justify-content-center">
                        <p class="h2" style="align-self: center">
                            <strong>
                                <% if (language === 'ru') { %> Карты TCG, связанные с <%=pokemon.name%> <% } else { %> TCG cards associated
                                with <%=pokemon.name%> <% } %>
                            </strong>
                        </p>
                    </div>

                    <% if (pokemon.cards && pokemon.cards.length > 0) { %>
                    <div id="pokemonCarousel" class="carousel slide mt-5" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <% pokemon.cards.forEach((card, index) => { %>
                            <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
                                <a href="<%= card.link %>" target="_blank">
                                    <img src="<%= card.image %>" class="d-block w-100" alt="Pokemon Card" />
                                </a>
                            </div>
                            <% }) %>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#pokemonCarousel" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#pokemonCarousel" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                    <% } %>
                </div>
            </div>
            <% } %>
        </div>
        <%- include("./partials/footer.ejs") %>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
        <script src="/js/language.js"></script>
    </body>
</html>
